.description {
  margin: 0;
  padding: 0;
  display: flex;

  outline: 2px solid red;
}

.description__header {
  padding-top: 42px;
  padding-bottom: 36px;
  background-color: #ffffff;

  margin: 0 auto;
}

.description__list-wrapper {

  position: relative;
  padding: 0 20px;
  margin: 0 auto;
  min-width: 280px;
  background: @bg-lightgrey url("../img/bg-triangle-white.svg") top center no-repeat;
}

.description__fishing {
  margin: 0;
  padding: 0;
  color: #283645;
  font-size: 24px;
  font-weight: 300;
}

.description__br {
  display: none;
}

.description__list {
  .list-reset;
}

.description__item h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.description__item p {
  font-size: 14px;
}

.description__images {
  .list-reset();
  display: none;
}

.description__image:last-child {
  display: block;
}

.description__effect {
  background: url("../img/icon-timer.svg") top left no-repeat;
  background-size: 238px;
  padding-left: 300px;
  height: 350px;
  display: none;
}

.description__effect h3 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.description__effect a {
  text-decoration: underline;
  color: #d22856;
}

@media (min-width: @tablet-width) {
  .description__list-wrapper {
    display: flex;
  }

  .description__fishing {
    margin-top: 8px;
    font-size: 40px;
    line-height: 44px;
    font-weight: 300;
    padding-bottom: 10px;
  }

  .description__br {
    display: inline-block;
  }

  .description__images {
    order: -1;
  }

  .description__effect {
    display: block;
  }

  .description__image {
    width: 300px;
  }
}

@media (min-width: @desktop-width) {
  .description__list-wrapper {
    flex-direction: column;
    padding: 0 110px;
  }

  .description__list,
  .description__images {
    display: flex;
    justify-content: space-between;
  }

  .description__image {
    display: block;;
    margin: 0;
  }

  .description__item {
    width: 250px;
    padding: 0 20px;
  }

  .description__effect {
    padding-right: 130px;
  }
}
