.description {
  margin: 0;
  padding: 0;
  display: flex;

  outline: 2px solid red;
}

.description__header {
  padding-top: 45px;
  padding-bottom: 36px;
  background-color: #ffffff;
  margin: 0 -20px;
}

.description__list-wraper {

  position: relative;
  padding: 0 20px;
  margin: 0 auto;
  min-width: 320px;
  background: @bg-lightgrey url("../img/bg-triangle-white.svg") top center no-repeat;
}

.description__fishing {
  margin: 0;
  padding: 0;
  color: #283645;
  font-size: 24px;
  font-weight: 300;
}

.description__list {
  .list-reset;
  padding-left: 42px;
}

.description__item h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.description__item p {
  font-size: 14px;
}

.description__image {
  .list-reset();
  display: none;
}

.description__image:last-child {
  display: block;
}

.description__effect {
  background: url("../img/icon-timer.svg") top left no-repeat;
  background-size: 238px;
  padding-left: 300px;
  height: 350px;
  display: none;
}

.description__effect h3 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.description__effect a {
  text-decoration: underline;
  color: #d22856;
}

@media (min-width: @tablet-width) {
  .description__list-wraper {
    display: flex;
  }

  .description__images {
    order: -1;
  }

  .description__effect {
    display: block;
  }

  .description__image {
    width: 300px;
  }
}

@media (min-width: @desktop-width) {
  .description__list-wraper {
    flex-direction: column;
    padding: 0 110px;
  }

  .description__list,
  .description__images {
    display: flex;
    justify-content: space-between;
  }

  .description__image {
    display: block;
    margin: 0 auto;
  }

  .description__item {
    width: 250px;
  }

  .description__effect {
    padding-right: 130px;
  }
}
