.gallery {
  margin: 0;
  padding: 0;
}

.gallery__title {
  margin: 0 auto;
  background-color: white;
  font-size: 14px;
  line-height: 30px;
  font-weight: 300;
  padding: 44px 20px;
  padding-bottom: 48px;
}

.gallery__photo {
  display: block;
  line-height: 0;
}

.gallery__panorama picture {
  margin: 0;
  position: relative;

  &::before {
    content: "Панорама дня";

    position: absolute;
    top: -122px;
    left: 160px;

    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    color: white;
    padding: 0;
    padding-top: 18px;
    padding-bottom: 18px;

    width: 140px;

    background-color: #d22856;
    z-index: 10;
  }
}

.gallery__article {
  width: 280px;
  height: 500px;
  background-color: @bg-lightgrey;
}

.gallery__post {
  margin: 0 auto;
  text-align: left;
  padding: 18px;
}

.gallery__panorama-comment {
  margin: 0 20px;
  max-width: 940px;
  background-color: @bg-lightgrey;
}

.gallery__post time,
.gallery__likes {
  text-transform: uppercase;
  font-size: 12px;
}

.gallery__likes {
  color: #d22856;
  margin: 0;
  margin-left: 40px;
  position: relative;
  margin-top: auto;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: -35px;

    width: 30px;
    height: 30px;

    background-image: url("../img/icon-heart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    z-index: 10;
  }
}

.gallery__list {
  .list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 20px;
  max-width: 940px;
}

.gallery__item {
  padding: 0;
  margin: 0 auto;
  margin-bottom: 20px;
}

.gallery__item:last-child {
  margin-bottom: 0;
}

@media (min-width: @tablet-width) and (max-width: @tablet-width-only) {
  .gallery__photo-image--panorama {
    object-fit: cover;
    height: 510px;
    width: 700px;
  }
}

@media (min-width: @tablet-width) {
  .gallery__br {
    display: none;
  }

  .gallery__article {
    width: 300px;
    margin: 0;
  }

  .gallery__list {
    margin: 0 20px;
  }

  .gallery__title {
    font-size: 18px;
    font-weight: normal;
    padding: 90px 58px;
    padding-bottom: 77px;
  }

  .gallery__panorama picture::before {
    top: -437px;
    left: 500px;
  }

  .gallery__post {
    display: flex;
    flex-wrap: wrap;
  }

  .gallery__panorama-comment .gallery__likes {
    order: -1;
  }

  .gallery__panorama-comment div {
    order: -2;
  }
}

@media (min-width: @desktop-width) {
  .br {
    display: none;
  }

  .gallery__panorama-comment {
    margin: 0 auto;
  }

  .gallery__list {
    margin: 0 auto;
  }

  .gallery__title {
    font-size: 18px;
    font-weight: normal;
    padding: 92px 300px;
    padding-bottom: 87px;
  }

  .gallery__panorama picture::before {
    top: -435px;
    left: 930px;
  }
}
