.main-nav {
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  text-align: center;

  background-color: #283645;
  outline: 2px solid white;
}

.main-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;
}
