.page-main {
  width: 320px;
  text-align: center;
  margin: 0 auto;
}

.page-main__title {
  margin: 0;
  padding-top: 35px;
  height: 171px;
  font-size: 24px;
  font-weight: 300;
  background: url("../img/bg-back-mobile@1x.jpg") top center no-repeat;
  color: #ffffff;

  background-color: #283645;
  ouline: 1px solid white;
}
