.page-footer {
  background-color: #ffffff;
  color: #283645;

  outline: 2px solid lightblue;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.page-footer__wrapper {
  margin: 0 auto;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  outline: 1px dashed red;
  background-color: black;
}

.page-footer__logo-image path {
  fill: blue;
  outline: 1px dashed blue;
}

.social__list {
  .list-reset();
  display: flex;
  flex-wrap: wrap;
  min-width: 180px;
  max-width: 340px;
  margin: 0 auto;
  justify-content: center;
}

.social__item {
  height: 25px;
  width: 25px;
  border: 5px solid red;
  border-radius: 50%;
}

.social__item:not(:last-child),
.social__item:not(:nth-child(5n)) {
  margin-right: 5px;
}

.social__link svg {
  margin-top: 5px;
  margin-left: 5px;
  font-size: 0;
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    min-width: 660px;
    flex-direction: row;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    min-width: 1200px;
  }
}
