.publish {
  margin: 0;
  margin-bottom: 932px;
}

@media (min-width: @tablet-width) {
  .publish {
    margin: 0;
    margin-bottom: 400px;
  }
}

@media (min-width: @desktop-width) {
  .publish {
    margin: 0;
    margin-bottom: 700px;
  }
}
