.reviews {
  outline:2px solid black;
  margin:0;
  padding:0;
  padding-top:48px;

}

.reviews__item {
  margin:0;
  padding:0;
}

.reviews__author-name {
  font-weight:700;
  line-height:24px;
  font-style:normal;
}

.reviews__text {
  width:280px;
  margin:auto;
 }